*{
    margin: 0;
    padding: 0;
}
/* mobile */
@media only screen and (max-width: 600px) {
    /* header start */
.header{
    width: 100%;
    height: 40vh;
    position: relative;
}
.title{
    position: absolute;
    top: 30% ;
    left: 30%;
    color: white;
    text-shadow: 1px 1px #8a6393;
}
/* header end */

/* to do list start */
.container{
    width: 100%;
    height: 60vh;
    background-color: #f3f3fd;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 

.message{
    color:#8a6393;;
    background-color: #f3f3fd;
    
    display: flex;
    justify-content: center;
}
.filter{
    height: 8vh;
    width: 68vh;
    margin-top: 3vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 2px #888888;
}
.filterButtons {
    display: flex;
    gap: 3vh;
    margin-right: 2vh;
}
.filterButtons button{
    background-color: white;
    color: #676792;
    border: none;
    outline: none;
}
.filterButtons button:hover{
    color: rgb(90, 138, 168);
}
.filterText{
   color: #4f4d4d;  
   margin-left: 2vh; 
}
.write-task{
    width: 80%;
    position: absolute;
    top: 30% ;
    left: 10%;
    padding: 1% 0%;

    display: flex;
    justify-content: center;
    justify-content: space-between;

    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 2px #888888;
}
input{
    padding-right: 50%;
    margin-left: 2%;
    border: none;
    outline: none;
}
.write-task button{
    background-color: white;
    color: #898abd;
    border: none;
    outline: none;
    margin-right: 3%;

}
.tasks{
    display: flex;
    justify-content: start;  
}
.tasks li {
    list-style: none;  
    position: relative;
    

    padding: 2vh;
    padding-right: 60vh;
    padding-left: 5vh;
    margin-top: 2vh;
    

    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 2px #888888;
    cursor: pointer;
    color: #4f4d4d;
    
}
.tasks li::before{
    content: '';
    background-image:url(radio.png);
    background-size: cover;
    
    position: absolute;
    height: 3vh;
    width: 4vw;
    top: 12px ;
    left: 8px;   
}
.tasks li.complete{
    text-decoration: line-through;
    color: #8a6393;
}
.tasks li.complete::before{
    background-image:url(checked.png);
    color: #8a6393;
}
.tasks li span{
    position: absolute;
    height: 3vh;
    width: 2vw;
    top: 10px ;
    right: 15px;
    font-size: x-large;
    font-weight: bolder;
    color: #a17caa;
}
/* to do list end */
}

/* desktops*/
@media only screen and (min-width: 992px) {
/* header start */
.header{
    width: 100%;
    height: 40vh;
    position: relative;
}
.title{
    position: absolute;
    top: 30% ;
    left: 30%;
    color: white;
    text-shadow: 1px 1px #8a6393;
}
/* header end */

/* to do list start */
.container{
    width: 100%;
    height: 60vh;
    background-color: #f3f3fd;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 

.message{
    color:#8a6393;;
    background-color: #f3f3fd;
    
    display: flex;
    justify-content: center;
}
.filter{
    height: 8vh;
    width: 70vh;
    margin-top: 3vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 2px #888888;
}
.filterButtons {
    display: flex;
    gap: 3vh;
    margin-right: 2vh;
}
.filterButtons button{
    background-color: white;
    color: #676792;
    border: none;
    outline: none;
}
.filterButtons button:hover{
    color: rgb(90, 138, 168);
}
.filterText{
   color: #4f4d4d;  
   margin-left: 2vh; 
}
.write-task{
    width: 44%;
    position: absolute;
    top: 30% ;
    left: 28%;
    padding: 1% 0%;

    display: flex;
    justify-content: center;
    justify-content: space-between;

    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 2px #888888;
}
input{
    padding-right: 50%;
    margin-left: 2%;
    border: none;
    outline: none;
}
.write-task button{
    background-color: white;
    color: #898abd;
    border: none;
    outline: none;
    margin-right: 3%;

}

.write-task button:hover{
    color: rgb(90, 138, 168);
}
.tasks{
    display: flex;
    justify-content: start;  
}
.tasks li {
    list-style: none;  
    position: relative;
    

    padding: 2vh;
    padding-right: 58vh;
    padding-left: 5vh;
    margin-top: 1vh;
    

    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 2px #888888;
    cursor: pointer;
    color: #4f4d4d;
    
}
.tasks li::before{
    content: '';
    background-image:url(radio.png);
    background-size: cover;
    
    position: absolute;
    height: 3vh;
    width: 2vw;
    top: 12px ;
    left: 8px;   
}
.tasks li.complete{
    text-decoration: line-through;
    color: #8a6393;
}
.tasks li.complete::before{
    background-image:url(checked.png);
    color: #8a6393;
}
.tasks li span{
    position: absolute;
    height: 3vh;
    width: 2vw;
    top: 12px ;
    right: 8px;
    font-size: x-large;
    font-weight: bolder;
    color: #a17caa;
}
.tasks li span:hover{
    color: rgb(90, 138, 168);
}
/* to do list end */
}
